In [273]:
print("hello,world!")
print("twinkle twinkle little star")
print("how i wonder what you are")
print("up above the world so high")
print("like a diamond u in the sky")
print("twinkle twinkle little star")

hello,world!
twinkle twinkle little star
how i wonder what you are
up above the world so high
like a diamond u in the sky
twinkle twinkle little star

In [45]:
if 5 > 2:
    print("five is greater than two !")
    if 2 > 1:
        print("two is greater than 1!")

five is greater than two !
two is greater than 1!

In [46]:
"""this is a comment 
that is multiline """
print("hello world")

hello world

In [47]:
!jt -r

Didn't recognize theme name: [chesterish]
Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

c:\users\tiwar\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\users\tiwar\anaconda3\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
c:\users\tiwar\anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %

In [48]:
x=5
y="john"
print(x)
print(y)

5
john

In [49]:
x=5
x="sally"
print(x)

sally

In [50]:
x=str(3)
y=int(5)
z=float(10.3456)
print(x)
print(y)
print(z)

3
5
10.3456

In [51]:
!jt 1-onedork

c:\users\tiwar\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\users\tiwar\anaconda3\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
c:\users\tiwar\anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %
usage: jt [-h] [-l] [-t THEME] [-f MONOFONT] [-fs MONOSIZE] [-nf NBFONT]
          [-nfs NBFONTSIZE] [-tf TCFONT] [-tfs TCFONTSIZE] [-dfs DFFONTSIZE]
          [-ofs OUTFONTSIZE] [-mathfs MATHFONTSIZE] [-m MARGINS]
          [-cursw CURSORWIDTH] [-cursc CURSORCOLOR] [-cellw CELLWIDTH]
          [-lineh LINEHEIGHT] [-altp] [-altmd] [-altout] [-P] [-T] [-N] [-kl]
          [-vim] [-r] [-dfonts]
jt: error: unrecognized arguments: 1-onedork

In [52]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [53]:
x="python"
y=  "is"  
z= "awesome"
print(x , y, z)

python is awesome

In [54]:
x="awesome"
def myfunc():
    x="fantastic"
    print("this is an example of global variable" + x )
    
myfunc()
print("this is local/global string is" + x)

this is an example of global variablefantastic
this is local/global string isawesome

In [55]:
def myfunc():
    global x
    x= "fantastic"
myfunc()
print("python is "+x) 
#it is a global variable hence even can be print outside the calling function

python is fantastic

In [56]:
def myfunc():
    x= "fantastic"
    print("python is "+x) 
myfunc()
#this is a local variable hence it can be only defined insie the scope of the calling function def myfunc():

python is fantastic

In [57]:
x={"name" : "tanay","age":"18"}
print(type(x))

<class 'dict'>

In [58]:
x=1
y=2.34567888
z=3+7j
#convert integer to float
a=float(x)
#convert float to integer
b=int(y)
#convert int to complex
c=complex(x)
print(a,b,c)

1.0 2 (1+0j)

In [59]:
import random

print(random.randrange(1,10))
#this code imports random module in-built in python
#this code generates random numbers in the given number range

7

In [60]:
print("alright he is")
print("'i am'")
print('ko')


#strings are arrays
a= "hello,world"
print(a[1])

alright he is
'i am'
ko
e

In [61]:
for x in "1234567890":
    print(x)

1
2
3
4
5
6
7
8
9
0

In [62]:
a="tanay"
print(len(a))

5

In [63]:
txt="check if something is present in the string"
print("something" in txt)

True

In [64]:
x="check if something is present in the string"
if "something" in x:
    print("yes something is present in the given string")

yes something is present in the given string

In [262]:
import random

randomList = []

# Generate a random number between 1 and 100
r = random.randint(1, 100)

# If the random number is not already in the list, add it to the list
if r not in randomList:
    randomList.append(r)

print("housie play numbers are:")
print(randomList)

housie play numbers are:
[85]

In [111]:
x="something is not present in the string"
if "qwearty" not in x:
 print("qwearty not in x")

qwearty not in x

In [112]:
b=" hello, world "
print(b[-1:-2])

In [83]:
a="Hello ,World"
print(a.upper())

HELLO ,WORLD

In [88]:
a="HELLO,WORLD"
print(a.replace("H","W"))

WELLO,WORLD

In [90]:
age = "36"
txt = f"my name is john , my age is {age}  "
print(txt)

my name is john , my age is 36

In [92]:
txt=f"price is {20*70} rupees"
print(txt)

price is 1400 rupees

In [3]:
txt=f"we are so called \"vikings\" from the north \nwe are {100*4} in number"
print(txt  )

we are so called "vikings" from the north
we are 400 in number

In [5]:
a=90
b=56
if b>a:
    print("b is greater than a")
else:
        print("a is greater than b")
        #python boolean values example

a is greater than b

In [7]:
print(bool("hello"))
print(bool("15"))
exit()
x="hello" 
y="15"
print(bool(x))
print(bool(y))
#Most Values are True
#Almost any value is evaluated to True if it has some sort of content.

#Any string is True, except empty strings.

#Any number is True, except 0.

#Any list, tuple, set, and dictionary are True, except empty ones.

True
True
True
True

In [1]:
#some false boolean values are given down
#this returns false as output


x=bool(0)
y=bool("")
z=bool({})
a=bool(())
b=bool([])
print(x,y,z,a,b)
#class defined with _len_function also gives false value
class myclass():
    def __len__(self):
         return 0
myobj = myclass()
print(bool(myobj))
exit()
#this is a functiion that returns assigned boolean

False False False False False
False

In [9]:
def myfunction() :
    return True #always assign value of True or False in first letter as caps lock
  

if myfunction():
    print("YES") 
else:
    print("NO!")
y=200
print(isinstance(y,dict))

YES
False

In [26]:
#python operator types
#arithmetic ops
#asignment ops
#comparison ops
#logical ops 
#identity ops 
#membership ops
#bitwise ops
x=5
y=7
if x>2 and y<9:
    print("both are correct")
else:
    print("one is correct")
    
    
A=22
B=7
add= A+B
sub=A-B
divide=A/B
mul=A*B
mod=A%B
p=A**B
print(add)
print(sub)
print(mul)
print(mod)
print(p)
print(divide)

both are correct
29
15
154
1
2494357888
3.142857142857143

In [29]:
"""this is python lists """
list1 = ["apple", "pineapple", "grapes"]
list2= ["mumbai", "chennai", "delhi","banglore"]
print(list1)
print(list2)
#a list can store non homogenous values too
#this list is a constructor 
thislist=list(("apple","banana","grapes"))
print(thislist)

['apple', 'pineapple', 'grapes']
['mumbai', 'chennai', 'delhi', 'banglore']
['apple', 'banana', 'grapes']

In [54]:
x=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(x[2:5])
if "apple" in x:
    print("yes,apple is present in x list")
else:
    print("no")
x.append("watermelon")
print(x)
x.insert(3,"watermelon")
print(x)

['cherry', 'orange', 'kiwi']
yes,apple is present in x list
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'watermelon']
['apple', 'banana', 'cherry', 'watermelon', 'orange', 'kiwi', 'melon', 'mango', 'watermelon']

In [61]:
#this will extend list 
tropicallist=["apple","grapes","banana"]
thislist=["guava","gulmohar","sandalwood"]
thislist.extend(tropicallist)
print(thislist)
tropicallist.remove("apple")
print(tropicallist)
thislist.remove("guava")
print(thislist)

['guava', 'gulmohar', 'sandalwood', 'apple', 'grapes', 'banana']
['grapes', 'banana']
['gulmohar', 'sandalwood', 'apple', 'grapes', 'banana']

In [69]:
thislist=["guava","gulmohar","sandalwood"]
del thislist[0]
print(thislist)
thislist.pop(1)
print(thislist)
thislist.clear()
print(thislist)

['gulmohar', 'sandalwood']
['gulmohar']
[]

In [81]:
thislist = ["guava","gulmohar","sandalwood"]
[print(x)  for x in thislist]

guava
gulmohar
sandalwood

[None, None, None]

In [127]:
thislist = [x for x in range(25)]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 2
print(f"2 x {i} = {2*i}") #my code

0
2
4
6
8
10
12
14
16
18
20
22
24
2 x 26 = 52

In [95]:
thislist = ["apple" , "grapes" , "cherry","chilly","banana","bottlegourd"]
newlist = []

for x in thislist:
    if "c" in x:
        newlist.append(x)
    
print(newlist)

['cherry', 'chilly']

In [98]:
thislist = ["apple" , "grapes" , "cherry","chilly","banana","bottlegourd"]
newlist = [x for x in thislist if "c" in x]
print(newlist)
#shortcut for above code

['cherry', 'chilly']

In [99]:
fruits = ["apple", "mango", "pear","banana","watermelon"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)
print(fruits)

['mango', 'pear', 'banana', 'watermelon']
['apple', 'mango', 'pear', 'banana', 'watermelon']

In [110]:

newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
for i in range(1, 11):
    print(f"2 x {i} = {2 * i}") #chatgpt

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [131]:
list1 = ["apple" , "mango", "banana" , "pear" , ]
list2 = ['hello' for x in list1]
print(list2)

['hello', 'hello', 'hello', 'hello']

In [133]:
list1 = ["apple" , "mango", "banana" , "pear"   ]
list2=[x if x != "banana" else "orange" for x in list1]
print(list2)
print(list1)
#tends to manipulate the results
#"Return the item if it is not banana, if it is banana return orange"

['apple', 'mango', 'orange', 'pear']
['apple', 'mango', 'banana', 'pear']

In [167]:
list1 = ["apple" , "mango", "banana" , "pear"]
list1.sort(reverse = True) #takes aplhabatic order in account
print(list1) # equation 1 
list1.reverse()
print(list1) #equation 1 is reversed irrespective of alphabet by reverse
#customize sort function
def myfunc(n):
    return abs(n - 50)
thislist = [100 , 75 , 45 , 85 , 92 ]
thislist.sort(key = myfunc)
print(thislist)#this  prints on basis how close the numbers are to 50
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)#if in change lower to upper it will sort the upper characters first
print(thislist)
#sorting in case insensitivity

['pear', 'mango', 'banana', 'apple']
['apple', 'banana', 'mango', 'pear']
[45, 75, 85, 92, 100]
['banana', 'cherry', 'Kiwi', 'Orange']

In [169]:
list1=["apple","mango","banana","grapes"]
list2 = list1.copy()
print(list2)
mylist = [10,23,34,45,56,67,78,99]
thislist = list(mylist)
print(thislist)

['apple', 'mango', 'banana', 'grapes']
[10, 23, 34, 45, 56, 67, 78, 99]

In [172]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

mylist = ["apple","banana","grapes"]
thislist = ["1,2,3"]
for x in thislist:
    mylist.append(x)
print(mylist)

Mylist = [1,2,3,4]
Thislist = ["a,f,v,g"]
Mylist.extend(Thislist)
print(Mylist)

['a', 'b', 'c', 1, 2, 3]
['apple', 'banana', 'grapes', '1,2,3']
[1, 2, 3, 4, 'a,f,v,g']

In [2]:
thistuple = ["apple","mango","banana"]
for i in range(len(thistuple)):
    print(thistuple)

['apple', 'mango', 'banana']
['apple', 'mango', 'banana']
['apple', 'mango', 'banana']

In [3]:
thistuple = ["apple","mango","banana"]
i=0
while i < len(thistuple):
    print(thistuple[i])
    i=i+1

apple
mango
banana

In [10]:
tuple1=["apple","mango","dog"]
tuple2=["green","brown","black"]
tuple3=tuple1 + tuple2
print(tuple3)
tuple4 = 5 * tuple3
print(tuple4)
x = tuple4.count("black")# number of times black appeared in  output
print(x)
y = tuple4.index("brown")# tracks first occurence of  'brown' and shows its position
print(y)

['apple', 'mango', 'dog', 'green', 'brown', 'black']
['apple', 'mango', 'dog', 'green', 'brown', 'black', 'apple', 'mango', 'dog', 'green', 'brown', 'black', 'apple', 'mango', 'dog', 'green', 'brown', 'black', 'apple', 'mango', 'dog', 'green', 'brown', 'black', 'apple', 'mango', 'dog', 'green', 'brown', 'black']
5
4

In [20]:
myset = {"apple","mango","banana"}
myset2 = {"True","False"}
myset3= {1,2,3} #data types of a set
myset4 = {"1","2","3"}
myset5 = {True,False,1,0}
print(myset)
print(myset2)
print(myset3)
print(myset4)
print(myset5)
thisset = (("apple","mango","banana"))
print(thisset)

{'apple', 'banana', 'mango'}
{'False', 'True'}
{1, 2, 3}
{'3', '1', '2'}
{False, True}
('apple', 'mango', 'banana')

In [34]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)
print("banana" in thisset)

print("banana" not in thisset)
thisset.add("grape")
print(thisset)

#upgrade from other  set
tropical = {"green","blue","white"}
thisset.update(tropical)
print(thisset) 
#can be added to any iterable it need be any set

cherry
apple
banana
True
False
{'cherry', 'apple', 'banana', 'grape'}
{'green', 'cherry', 'apple', 'banana', 'blue', 'white', 'grape'}

In [37]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("apple")
print(thisset)#If the item to remove does not exist, remove() will raise an error.
thisset.discard("tomato")
print(thisset)#If the item to remove does not exist, discard() will NOT raise an error.

{'cherry', 'banana'}
{'cherry', 'banana'}

In [39]:
thisset = {"apple", "banana", "cherry"}
x=thisset.pop()
print(x)
print(thisset)
for x in thisset:
    print(x)

cherry
{'apple', 'banana'}
apple
banana

In [12]:
set1= {"apple","banana","grapes"}
set2 = {1,2,3}

set3=set1.union(set2)
print(set3)
set4 = set2 | set3 # | same operator as union()
print(set4)

set5 = {6,7,8,9}
set6 = {"blue","green","white"}
set8= set1.union(set3,set5,set6)#join multile sets by union
print(set8)
#join set and a tuple 
thiset= {"blue","green","black"}
thistuple = (1,2,3,)#The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.
thiset = thiset.union(thistuple)
print(thiset)

{1, 2, 3, 'grapes', 'apple', 'banana'}
{1, 2, 3, 'grapes', 'banana', 'apple'}
{1, 2, 3, 6, 7, 'grapes', 8, 9, 'white', 'green', 'banana', 'blue', 'apple'}
{1, 2, 3, 'blue', 'black', 'green'}

In [16]:
#update() method insert one data type into another
set1 = {"apple","grapes","cherry"}
set2 = {"a","b","c"}
set1.update(set2)
print(set1)
sorted_list = sorted(set1)
print(sorted_list)

{'a', 'cherry', 'c', 'b', 'grapes', 'apple'}
['a', 'apple', 'b', 'c', 'cherry', 'grapes']

In [19]:
#intersection new set which shows common elements
set1 = {"apple","microsoft","meta"}
set2 = {"apple","banana","grapes"}
set3 = set1.intersection(set2)# we can use & operatr instead of intersection()
print(set3) # this one returns a value

#this way won't return any value
set1.intersection_update(set2)
print(set1)
#hence this cannot be printed with another set 

set9 = {"apple", 1,  "banana", 0, "cherry"}
set8 = {False, "google", 1, "apple", 2, True}

set5 = set9.intersection(set8)

print(set5)# this returns value

{'apple'}
{'apple'}
{False, 1, 'apple'}

In [21]:
set1 = {"apple","microsoft","meta"}
set2 = {"apple","banana","grapes"}

set3 = set1.difference(set2) #eradicates the common element
print(set3) # - operator can be used instead of difference()

{'microsoft', 'meta'}

In [26]:
set1 = {"apple","microsoft","meta"}
set2 = {"apple","banana","grapes"}

set1.difference_update(set2)
print(set1)

{'microsoft', 'meta'}

In [24]:
set1 = {"apple","microsoft","meta"}
set2 = {"apple","banana","grapes"}

set3 = set1.symmetric_difference(set2)# ^ operator can be use instead of symmetric_difference()

print(set3)
set1.symmetric_difference_update(set2)
print(set1)

{'meta', 'grapes', 'microsoft', 'banana'}
{'meta', 'grapes', 'microsoft', 'banana'}

In [30]:
list1 = ["apple","mango","banana"]
list2 = ["apple","microsoft","meta"]

list3 = list1.append(list2)
list3 = list1
print(list3)

['apple', 'mango', 'banana', ['apple', 'microsoft', 'meta']]

In [43]:
thisdict  = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : "1964",
    "electric"  : False ,
    "colors" : ["red","blue","green"]
    
}
print(thisdict)
print(thisdict["brand"])
print(len(thisdict))
x = thisdict.get("electric")
print(x)
y = thisdict.keys()
print(y)

{'brand': 'Ford', 'model': 'mustang', 'year': '1964', 'electric': False, 'colors': ['red', 'blue', 'green']}
Ford
5
False
dict_keys(['brand', 'model', 'year', 'electric', 'colors'])

In [40]:
thisdict = dict(name = "ford", age = 65 , country = "Norway" )
print(thisdict)

{'name': 'ford', 'age': 65, 'country': 'Norway'}

In [46]:
thisdict  = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : "1964",
    "electric"  : False ,
    "colors" : ["red","blue","green"]
    
}
x = thisdict.keys()
print(x)
    
thisdict["color"] = "white"
#same method is to be followed while adding indexxes to the dict
print(x)

dict_keys(['brand', 'model', 'year', 'electric', 'colors'])
dict_keys(['brand', 'model', 'year', 'electric', 'colors', 'color'])

In [49]:
thisdict  = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : "1964",
    "electric"  : False ,
    "colors" : ["red","blue","green"]
    
}
x = thisdict.values()
print(x)
thisdict["year"] = 2022
print(x)

dict_values(['Ford', 'mustang', '1964', False, ['red', 'blue', 'green']])
dict_values(['Ford', 'mustang', 2022, False, ['red', 'blue', 'green']])

In [50]:
thisdict  = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : "1964",
    "electric"  : False ,
    "colors" : ["red","blue","green"]
    
}
if "model" in thisdict:
    print("yes ,'model' is one of keys in thisdict")

yes ,'model' is one of keys in thisdict

In [62]:
thisdict  = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1964,
    "electric"  : False ,
    "colors" : ["red","blue","green"]
    
}
print(thisdict)
thisdict.update({"year" : 2022})
print(thisdict)
thisdict.pop("model") #del keyword also does the same job written as : del thisdict["model"]
print(thisdict)
thisdict.popitem() #removes last item from the dictionary
print(thisdict)
thisdict.clear()
print(thisdict)# del thisdict command issues a error becoz thisdict no longer exists

{'brand': 'Ford', 'model': 'mustang', 'year': 1964, 'electric': False, 'colors': ['red', 'blue', 'green']}
{'brand': 'Ford', 'model': 'mustang', 'year': 2022, 'electric': False, 'colors': ['red', 'blue', 'green']}
{'brand': 'Ford', 'year': 2022, 'electric': False, 'colors': ['red', 'blue', 'green']}
{'brand': 'Ford', 'year': 2022, 'electric': False}
{}

In [68]:
thisdict  = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : "1964",
    "electric"  : False ,
    "colors" : ["red","blue","green"]
    
}
for x  in thisdict:
    print(thisdict)#loops whole dict
    print(thisdict[x])#loops only elements
   # for x in thisdict.values() and thisdict.key do the same job irrespectively
# to for loop both type:
#for x , y thisdict.items():
#print(x,y)
mydict = thisdict.copy()
print(mydict) # can be done by mydict = dict(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year': '1964', 'electric': False, 'colors': ['red', 'blue', 'green']}
Ford
{'brand': 'Ford', 'model': 'mustang', 'year': '1964', 'electric': False, 'colors': ['red', 'blue', 'green']}
mustang
{'brand': 'Ford', 'model': 'mustang', 'year': '1964', 'electric': False, 'colors': ['red', 'blue', 'green']}
1964
{'brand': 'Ford', 'model': 'mustang', 'year': '1964', 'electric': False, 'colors': ['red', 'blue', 'green']}
False
{'brand': 'Ford', 'model': 'mustang', 'year': '1964', 'electric': False, 'colors': ['red', 'blue', 'green']}
['red', 'blue', 'green']
{'brand': 'Ford', 'model': 'mustang', 'year': '1964', 'electric': False, 'colors': ['red', 'blue', 'green']}

In [89]:
myfamily = {
    "child1" : {
        "name": "email",
        "year" : 2004
    },
    "child2" : {
        "name" : "facebook",
        "year" : 2001
    },
    "child3" :
    {
        "name"  : "linus",
        "year" : 1997
    }
}


#acces items
print(myfamily["child1"]["name"])
print(myfamily["child1"],["name"])
#gives unhashable error when mistakenly created more than one square brackets
for x , obj in myfamily.items():
    print(x) #only this ValueError: too many values to unpack (expected 2)
    #with this is correction
    for y in obj:
        print(y + ':' , obj[y])

email
{'name': 'email', 'year': 2004} ['name']
child1
name: email
year: 2004
child2
name: facebook
year: 2001
child3
name: linus
year: 1997

In [264]:
import random

randomList = []

# Generate 10 unique random numbers between 1 and 100
while len(randomList) < 101:
    r = random.randint(1, 101)
    if r not in randomList:
        randomList.append(r)

print("Housie play numbers are:")
print(randomList)

Housie play numbers are:
[101, 40, 38, 80, 16, 6, 34, 2, 50, 10, 12, 58, 52, 91, 46, 49, 67, 55, 41, 27, 5, 23, 59, 65, 71, 47, 13, 33, 97, 17, 44, 54, 88, 69, 48, 26, 78, 63, 99, 11, 60, 90, 4, 19, 25, 3, 36, 9, 57, 51, 66, 82, 77, 81, 22, 42, 45, 96, 98, 61, 64, 92, 32, 84, 8, 31, 24, 95, 93, 7, 70, 87, 20, 29, 18, 62, 74, 94, 30, 15, 56, 28, 72, 85, 73, 14, 86, 75, 53, 68, 76, 37, 43, 79, 39, 83, 89, 1, 21, 100, 35]

In [268]:
x = [101, 40, 38, 80, 16, 6, 34, 2, 50, 10, 12, 58, 52, 91, 46, 49, 67, 55, 41, 27, 5, 23, 59, 65, 71, 47, 13, 33, 97, 17, 44, 54, 88, 69, 48, 26, 78, 63, 99, 11, 60, 90, 4, 19, 25, 3, 36, 9, 57, 51, 66, 82, 77, 81, 22, 42, 45, 96, 98, 61, 64, 92, 32, 84, 8, 31, 24, 95, 93, 7, 70, 87, 20, 29, 18, 62, 74, 94, 30, 15, 56, 28, 72, 85, 73, 14, 86, 75, 53, 68, 76, 37, 43, 79, 39, 83, 89, 1, 21, 100, 35]
count = len(x)
print(count)

101