In [1]:
#Write a program to demonstrate different number data types in Python.
a = 5 
print(a,"is of type" ,type(a))

b = 3.44
print(b, "is of type" , type(b))

c = 1+2j
print(c,"is of type" ,type(c))

5 is of type <class 'int'>
3.44 is of type <class 'float'>
(1+2j) is of type <class 'complex'>

In [6]:
#Write a program to perform different Arithmetic Operations on numbers in Python.
import math

a = 5
b = 6
print("square-root =",math.sqrt(a*b))
print("sum =",a + b)
print("difference =",a-b)
print("product =",a*b)
print("divison =",a/b)
print("float division =",a//b)
print("exponential =",a**b)

square-root 5.477225575051661
sum = 11
difference = -1
product = 30
divison = 0.8333333333333334
float division = 0
exponential = 15625

In [14]:
#Write a program to create, concatenate and print a string and accessing sub-string from a given string
x = "hello"
y = "world"
Upper = x.upper
lower_case = x.lower
print("upper case :",Upper)
print("lower case :",lower_case)
#print("concatenate :",x.append(y))
print("concatenate :",x+y)
print("Slicing : hello is sliced as per index values :",x[1:3])

upper case : <built-in method upper of str object at 0x0000029029EB8F30>
lower case : <built-in method lower of str object at 0x0000029029EB8F30>
concatenate : helloworld
Slicing : hello is sliced as per index values : el

In [17]:
#Write a python script to print the current date in the following format “Sun May 29 31 02:26:23 IST 2017”
from datetime import date
from time import strftime

today = date.today()
d1 = today.strftime("%d/%m/%y")
print("d1 = ",d1)

d2 = today.strftime("%d/%m/%y")
print("d2 =",d2)

d4 =today.strftime("%b-%d-%Y")
print("d4 =", d4)

formated_date=strftime("%a %b %d %H:%M:%S IST %Y")
print(formated_date)

d1 =  19/03/25
d2 = 19/03/25
d4 = Mar-19-2025
Wed Mar 19 20:54:51 IST 2025

In [23]:
#use list methods and attributes
my_list = ['apple','grapes','cherry','banana','pear','mango']
my_list.remove('apple')
print(my_list)
my_list.pop(1)
print(my_list)
my_list.append('tomato')
print(my_list)

if 'grapes' in my_list:
    print("hello")
else:
    print("bye")

['grapes', 'cherry', 'banana', 'pear', 'mango']
['grapes', 'banana', 'pear', 'mango']
['grapes', 'banana', 'pear', 'mango', 'tomato']
hello

In [30]:
#Write a program to demonstrate working with tuples in python. 
my_tuple = ([1,2,3],('tomato','grapes','cherry'),[3.4 ,4.1 ,6.2])
print("this is a nested tuple :" ,my_tuple)

my_tuple_2 = (1,2,3)
print("this is a simple tuple :",my_tuple_2 )

this is a nested tuple : ([1, 2, 3], ('tomato', 'grapes', 'cherry'), [3.4, 4.1, 6.2])
this is a simple tuple : (1, 2, 3)

In [31]:
#Write a python program to find the largest of three numbers.
a = float(input("Enter value of a :"))
b = float(input("Enter value of b :"))
c = float(input("Enter value of c :"))

if (a>b) and (a>c):
    print("a is larger")
elif (b>a) and (b>c):
    print("B is larger")
else:
    print("c is larger")

Enter value of a :2
Enter value of b :3
Enter value of c :5
c is larger

In [10]:
#Write a Python program to construct the following pattern, using a nested for loop
n=5
for i in range(n):  
    for j in range(i):  
        print('*', end=" ")
    print('')
for i in range(n, 0, -1):  
    for j in range(i):  
        print('*', end=" ")  
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
from datetime import date
from time import strftime

today = date.today()
d1 = today.strftime("%d / %m / %y")
print("d1 =",d1)

d2 = today.strftime("%d/%m/%y")
print("d2 =",d2)

d3 = today.strftime("%b-%d-%y")
print("d3 =",d3)

d4 = today.strftime("%a %b %d %H:%M:%S IST %Y")
print("d4 =",d4)

d1 = 24 / 03 / 25
d2 = 24/03/25
d3 = Mar-24-25
d4 = Mon Mar 24 00:00:00 IST 2025

In [15]:
from datetime import date
from time import strftime

today = date.today()
d1 = today.strftime("%d/%m/%y")
print("d1 =",d1)

d2 = today.strftime("%b-%d-%y")
print("d2 =",d2)

d3 = today.strftime("%a %b %d %H:%M:%Y IST %Y")
print("d3 =",d3)

d1 = 24/03/25
d2 = Mar-24-25
d3 = Mon Mar 24 00:00:2025 IST 2025

In [12]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*",end = " ")
    print()
for i in range(n-1 ,0 ,-1):
    for j in range(i):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*